<div>
  <h1><%= "All Group Notifications for #{@group.name}" %></h1>
  <br>
  <% @all_group_notifications.reverse.each do |notification| %>
    <%= notification.message %> <br>
    <%= notification.created_at %>
    <hr>

  <% end %>
  <%= link_to 'Back to Group', group_path(params[:group_id]) %>
</div>
