<div>
  <h1>All Group Notifications</h1>
  <br>
  <% @all_group_notifications.each do |notification| %>
    <%= notification.message %> <br>
    <%= notification.created_at %>
    <hr>

  <% end %>
  <%= link_to 'Back to Group', group_path(params[:group_id]) %>
</div>
