<p id="notice"><%= notice %></p>

<h3><%= @group.name %> Tasks</h3>

<%= link_to 'Back to Group Page', group_path(@group.id), :class => 'btn btn-warning btn-sm all-tasks-view-back-button'%>


<div class="all-tasks-table">
  <% @grouptasks = @tasks %>
  <%= render(
    partial: 'tasks/listingroup',
    locals: { tasks: @grouptasks }
  ) %>
</div>