<div id="allNotifications">
  <h1>All Notifications</h1>
  <ul class="list-group">
  <% @all_notifications.each do |notification| %>
  <li class="list-group-item">
    <%= notification.message%> <br>
    <%= notification.created_at%>
  </li>
  <% end %>
  </ul>
  <%= link_to 'Go to Dashboard', groups_path %>
</div>
