<div>
  <% @user_notifications.reverse[0..4].each do |user_notification| %>
    <%= link_to group_path(user_notification.group_id) do %>
      <p class="dropdown-item" ><%= user_notification.message %><br><i><%= user_notification.created_at %></i></p>
      <hr>
    <% end %>
  <% end %>
  <p class="dropdown-item"><%= link_to "View all notifications", notifications_path %></p>
</div>
