<div>
  <h1>All Notifications</h1>
  <br>
  <% @all_notifications.each do |notification| %>
    <%= notification.message %> <br>
    <%= notification.created_at %>
    <hr>

  <% end %>
  <%= link_to 'Go to Dashboard', groups_path %>
</div>
