<div class="modal fade" id="modal<%= group.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag process_leave_grp_path do %>
        <div class="modal-body">
            ...
            <%= hidden_field_tag 'id', group.id %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          <!-- send data to groups#process_leave_group -->
          <%= submit_tag 'Confirm', class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
