<div class="container">
    <h1>Editing Group</h1>

    <%= render 'form' %>
    <br>
  	<h2>Group Members</h2>
    <table>
	    <thead>
	      <tr>
	        <th>Name</th>
	      </tr>
	    </thead>

	    <tbody>
	      <% @members.each do |member| %>
	       	<tr>
	          <td><%= member.name %></td>
	          <% if params[:user_id] != member.user_id%>
	          <td><%= link_to 'Remove', group_membership_path(:id => member.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
	          <% end %>
	      	</tr>
	      <% end %>
	  	</tbody>
	</table>


    <%= link_to 'Back', groups_path %>
</div>
