// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* 'leave group' modal */

.cursor-pointer {
  cursor: pointer;
}

.radio-button-container {
  margin-left: 40px;
}

.cursor-not-allowed {
  cursor: not-allowed;
}


/* display members */

.display-members {
  margin-bottom: 140px;
}

.member-container {
  float: left;
  text-align: center;
  margin-right: 30px;
  margin-bottom: 10px;
}

.letter-container {
  text-transform: capitalize;
  background-color: #e5c7f9;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  font-size: 40px;
  color: white;
  text-align: center;
  border: 1px solid #d2a2f2;
}

.member-container > .admin-color {
  background-color: #c2e1f0;
  border: 1px solid #91c7e2;
}

.member-container > p:nth-of-type(1) {
  margin-top: 14px;
}

.member-container > p {
  line-height: 25%;
  font-size: 14px;
}

[data-toggle="popover"] {
  border: none;
  cursor: pointer;
}

[data-toggle="popover"]:focus {
  outline: none;
}

.popover-body > span {
  color: #7fbcd8;
}

/* user profile avatar */

.avatar {
  width: 130px;
  height: 130px;
  font-size: 83px;
}

img.avatar {
  border-radius: 50%;
  object-fit: cover;
}



/* progress bar */

.progress {
  margin-top: 30px;
  height: 22px;
  font-size: 14px;
  line-height: 22px;
}

.progress > p {
  margin-left: 10px;
}

.progress-label {
  font-size: 14px;
  margin-top: 2px;
}

.progress-label.start {
  float: left;
}

.progress-label.end {
  float: right;
  text-align: right;
}

.progress-shift-left {
  margin-right: 35px;
}

.fa-warning {
  color: red !important;
}

[data-toggle="popover"]#progress-warning {
  float: right;
  margin-top: -24px;
  padding: 0;
}
