// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bgcolor {
  color: #206EA9;


}

.pagination {
  .previous_page { background:#6FBEE5; color:white }
  .previous_page.disabled { background: white; color: #777 }
  .current { background: #B0E4FE }
  .next_page { background: #6FBEE5; color: white }
  .next_page.disabled { background: white; color: #777 }
}
